.review-box {
  max-width: 520px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}


.stars span {
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}

.stars span.active {
  color: gold;
}

textarea {
  width: 100%;
  height: 80px;
}


.stars span:hover,
.stars span.active {
  color: gold;
  transform: scale(1.2);
}

.stars span {
  transition: 0.2s;
}
